In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import re
import sys

In [2]:
files = filter(lambda x: re.search('da_hrl_lmps', x), os.listdir('LMP raw data'))
columns = ['datetime_beginning_ept', 'pnode_id', 'pnode_name', 'congestion_price_da']

Feb_hrl_lmps = pd.concat([pd.read_csv('LMP Raw Data/' + file, usecols=columns) for file in files], ignore_index=True)
Feb_hrl_lmps.drop_duplicates(inplace=True)

In [3]:
Feb_hrl_lmps.sample(3)

        datetime_beginning_ept    pnode_id pnode_name  congestion_price_da
2887010   2/10/2022 2:00:00 AM  1097721403   SEIDERVL                -0.04
301899    2/1/2022 10:00:00 PM  1869183612   CASTALFE                -0.29
2691623   2/9/2022 11:00:00 AM  1869183589   TWR_AUTO                 0.52

In [4]:
Feb_hrl_lmps.shape, sys.getsizeof(Feb_hrl_lmps)/10e6

((8872416, 4), 146.7298528)

In [5]:
Feb_hrl_lmps.to_csv('Feb_hrl_lmps.csv', index = False)

In [6]:
files = filter(lambda x: re.search('-ftr', x), os.listdir('FTR raw data'))
columns = ['FTRID', 'Period Type', 'Participant', 'Class Type', 'Source Node', 'Source PNODEID', 'Sink Node', 'Sink PNODEID', 'Trade Type', 'Obligation MCP', 'Hedge Type', 'Cleared MW']

#need to filter for FEB, Hedge Type == 'Obligation'
def filter_read(filename, columns = None):
    df = pd.read_excel(filename, usecols = columns)
    df = df[(df['Period Type'] == 'FEB') & (df['Hedge Type'] == 'Obligation')]
    return df.drop(columns = ['Period Type', 'Hedge Type'])

Feb_auction = pd.concat([filter_read('FTR Raw Data/' + file, columns=columns) for file in files], ignore_index=True)

In [7]:
Feb_auction.sample(3)

,FTRID,Class Type,Participant,Source Node,Source PNODEID,Sink Node,Sink PNODEID,Trade Type,Cleared MW,Obligation MCP
40845,255191980,OffPeak,ELMGN,DEERCREE34 KV DEERCRSP,1318144619,WCATWIND34.5 KV WLDCATWF,1084391529,Buy,0.1,-366.13
84018,257630604,OnPeak,LFYETP,OLIVE 12 KV OLIVESP,1348264657,KLINE 138 KV TWINB1-6,34886931,Sell,0.8,-112.42
17873,252962667,OnPeak,LFYETP,LOCKS 35 KV PETERSBG,36181307,EMPORIA 13 KV G12,48934201,Sell,0.7,-194.01

In [8]:
Feb_auction.shape, sys.getsizeof(Feb_auction)/10e6

((162657, 10), 6.1741017)

In [9]:
Feb_auction.to_csv('Feb_auction.csv', index = False)